/* Custom Styles will go here */

@media (min-width: 320px) {
    .router {
        margin-top: 25%;
    }
}

@media (min-width: 767px) {
    .router {
        margin-top: 10%;
    }
}

@media (min-width: 992px) {
    .router {
        margin-top: 6.25%;
    }
}

.body {
    background-color: #94938f;
}

.map {
    border: 4px dashed #999;
    border-radius: 4px;
    background-color: #333;
    color: #999;
    margin: auto;
    padding-top: auto;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: auto;
    height: relative;
    width: relative;
    font-family: 'Courier New', Courier, monospace
}
