<div class="container-fluid">
    <nav class="navbar navbar-fixed-top navbar-dark" style="background-color: #323b43;">
        <a class="navbar-brand" href="https://github.com/" >
            <span class="mega-octicon octicon-mark-github"></span>
        </a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a class="nav-link btn" 
                    href="https://github.com/BagelTheKid">
                    <span class="mega-octicon octicon-octoface"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" 
                    href="https://bagelthekid.github.io/"
                    style="padding-right: 20%;">
                    <span class="mega-octicon octicon-briefcase"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn" 
                    href="https://github.com/BagelTheKid/map-gen-v2"
                    style="padding-right: 15%;">
                    <span class="mega-octicon octicon-repo"></span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="router">
        <router-outlet></router-outlet>    
    </div>
</div>

